h1 {
	font-size:2.2em;
}
h2 {
	color: #3D4600;
	font-size: 4em;
  font-weight: 100;
}
h3 {
	color: #3D4600;
	font-size: 1.9em;
  font-weight: 100;
}
h4 {
	color: #3D4600;
	font-size: 1.4em;
  font-weight: 100;
	margin-top: -5px;
}
p {
	font-weight: 300;
	color: #020
}
body {background-color: #fffffb;}

.header {
	border-bottom: #3D4600;
  border-bottom-style: dashed;
	border-bottom-width: 1px;
	margin: 0px -15px;
}

.header .row {
	max-width: 1200px;
	margin: auto;
	padding: 8px 0px;


}
.header img {
	max-width: 320px;
	margin-top:10px;
	margin-left: 1px;

}

.description{
	font-size:1.1em;
	padding-left: 20px;
}

.menu {
	font-size:1.1em;
}

.what_we_are {
	  background:url("../images/stars1.png") repeat;
		/*background-color: #AFF3FB;
		background-image: repeating-linear-gradient(45deg,
			transparent, transparent 10px,
			rgba(255,255,255,.5) 10px,
			rgba(255,255,255,.5) 20px);*/
		padding: 100px 0px;
		margin: 0px -15px;
}
.what_we_are_row {
	max-width: 1200px;
	margin: auto;
	padding: 0px 10%;
}

.what_we_are blockquote {
  border-left: 5px solid #C8DF79;
}

.projects {
	background-color: #fefffe;
	margin: 0px -15px;
}
.row_proj {
	padding: 100px 10px;
	max-width: 1200px;
	margin: auto;
}

.projects .line {
	    margin: 0px 0px 70px auto;
}
.project{
	padding-top: 100px;
}

/* about us */
.about_us {
	/*background:url("../images/stars1.png") repeat;*/
	background: #FFFAA4; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-70deg, #B8EAF9, #FFFAA4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-70deg, #B8EAF9, #FFFAA4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-70deg, #B8EAF9, #FFFAA4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-70deg, #B8EAF9, #FFFAA4); /* Standard syntax */
	margin: 0px -15px;
}

.about_us .row {
	max-width: 1200px;
	margin: auto;
	padding: 100px 0px;
}

.profile {
	margin: 50px 1% 0px 1%;
	max-width: 30%;
  display: inline-table;
}
.names {
	margin-top: 15px;
	margin-bottom: 5px;
	width: 220px;
}
.prof_pic {
	width: 180px;
}

/*footer*/
.footer {
	border-top: #3D4600;
  border-top-style: dashed;
	border-top-width: 1px;
	margin: 0px -15px;
}

.footer .row {
	max-width: 1200px;
	margin: auto;
	padding: 15px 0px;
}

.footer button {
	height: 37px;
	width: 38px;
	border-radius: 50%;
	border-style: dashed;
	background-image: none;
	background-color: #F5F8AF;
	margin-bottom: 15px;
}

/*general*/
.line {
	border: 2px solid #C8DF79;
	width: 300px;
	margin: auto;
}
