.nekomimi-bg{
	background-image:url('../images/colorful-cosmos-abstract-website-header.jpg');
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
}

.descritprion{
	font-size:1.2em;
}

@media screen and (max-width: 600px){
	.nekomimi-bg{
		background-image:url('../images/colorful-cosmos-abstract-website-header.small.jpg');
		height:200px;
		font-size:0.9rem!important;
	}
	.descritprion{
		font-size:1.1em;
	}
}

.webfont-link{
	color:#000;
}

.inline-list li{
	display:inline;
	font-size: 2em;
	margin:5px;
}
