.nekomimi-bg{
	background-image:url('http://wallpaperus.org/wallpapers/04/14/nekomimi-bakemonogatari-1600x900-wallpaper-775143.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
}

.nekomimi-bg p{
	font-size: 1.3em;
}
